@media print {
    @page {
        size:  21.5cm 14cm;
    }
}

@page {
    margin: 30px 20px;
    size: A5;
  }

body{
    font-family: sans-serif;
    font-size: 12pt;
    width: 21.5cm;  
    height: 14cm; 
}
thead { display: table-header-group }
tfoot { display: table-row-group }
tr { page-break-inside: avoid }

header {

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-bottom:10px;

}

header .luckmas{

    text-align: center;
}
header .invoice h3{
    text-align: center;
}
main .total{
    margin-top:10px;
    float:right;
}
