@media print {
    html, body {
        display: block; 
        font-family: sans-serif;
        margin: 0;
    }

    @page {
      size: 9.5in 11in;
    }

    

}
html, body {
    display: block; 
    font-family: sans-serif;
    margin: 0;
}
.logo, .invoice {
    text-align: center;
  }